/AdapterIO/nbproject/private/
/AdapterIO/build/
/DecoratorIO/nbproject/private/
/DecoratorIO/build/
/StrategyIO/nbproject/private/
/StrategyIO/build/
/AbstractFactoryIO/nbproject/private/
/SingletonIO_CommandIO/nbproject/private/
/SingletonIO_CommandIO/build/
/WeatherStation/nbproject/private/
/WeatherStation/build/
/ObserveIO/WeatherStation/build/
/ObserveIO/WeatherStation/nbproject/private/